html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
audio,
video {
  display: inline-block;
  vertical-align: baseline;
}
html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
.clr:after,
.clr:before {
  content: '';
  display: table;
}
.clr:after {
  clear: both;
}
body {
  background-color: white;
}
body,
button,
input,
select,
textarea {
  color: #555;
  font-family: 'Lato', serif;
  font-size: 1.25rem;
  line-height: 1.6;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
address,
blockquote,
dl,
hr,
ol,
p,
pre,
table,
ul {
  margin: 1.6em 0;
}
address:first-child,
blockquote:first-child,
dl:first-child,
hr:first-child,
ol:first-child,
p:first-child,
pre:first-child,
table:first-child,
ul:first-child {
  margin-top: 0;
}
address:last-child,
blockquote:last-child,
dl:last-child,
hr:last-child,
ol:last-child,
p:last-child,
pre:last-child,
table:last-child,
ul:last-child {
  margin-bottom: 0;
}
address {
  font-style: italic;
}
blockquote,
pre {
  background-color: #f6f6f6;
  border: 1px solid #e6e6e6;
  padding: 0.8em 1.6em;
}
blockquote {
  font-style: italic;
}
blockquote.bonus {
  background-color: #fef5c4;
  border-color: #fadf98;
}
blockquote cite {
  display: block;
  font-size: 0.8em;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 1.6em;
  text-transform: uppercase;
}
blockquote cite:before {
  content: '\2014';
  margin-right: 5px;
}
pre {
  font-family: 'Insonsolata', monospace;
  font-size: 0.8em;
  overflow-x: auto;
  tab-size: 4;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin-left: 1.6em;
}
hr {
  border: 0;
  border-bottom: 1px solid #e6e6e6;
}
ol,
ul {
  list-style: decimal;
  margin-left: 1.6em;
}
ul {
  list-style: disc;
}
table {
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  width: 100%;
}
table td,
table th {
  border-right: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  padding: 0.8em;
}
table th {
  background-color: #f6f6f6;
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1rem;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  display: block;
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 2rem;
  text-transform: uppercase;
}
h1 {
  font-size: 1.953125em;
}
h2 {
  font-size: 1.5625em;
}
h3 {
  font-size: 1.25em;
}
a {
  color: #0077c0;
  transition: all 0.7s;
}
a:hover {
  opacity: 0.8;
}
abbr[title],
acronym[title] {
  cursor: help;
}
code,
kbd,
tt,
var {
  background-color: #f6f6f6;
  border: 1px solid #e6e6e6;
  display: inline-block;
  color: #999;
  font-family: 'Insonsolata', monospace;
  font-size: 1rem;
  padding: 2px 4px;
}
em {
  font-style: italic;
}
img {
  height: auto;
  max-width: 100%;
}
ins {
  color: #999;
  text-decoration: underline;
}
q:before {
  content: '\201c';
}
q:after {
  content: '\201d';
}
strike {
  text-decoration: line-through;
}
strong {
  font-weight: bold;
}
sub,
sup {
  font-size: 0.8em;
  position: relative;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
button,
input,
select,
textarea {
  background-color: white;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 1em;
  width: 100%;
}
textarea {
  height: 6.4em;
}
label {
  color: #999;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
button,
input[type=button],
input[type=submit] {
  background-color: #0077c0;
  border-color: #0077c0;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 2rem;
  padding: 0.5rem 1em;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.7s;
  width: auto;
}
button:hover,
input[type=button]:hover,
input[type=submit]:hover {
  opacity: 0.8;
}
.button {
  background-color: #0077c0;
  border-radius: 4px;
  color: white;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1em;
}
form p {
  margin: 1.2em 0;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 0 auto;
}
.alignright {
  float: right;
  margin: 0 0 2rem 2rem;
}
.alignleft {
  float: left;
  margin: 0 2rem 2rem 0;
}
a img.alignright {
  float: right;
  margin: 0 0 2rem 2rem;
}
a img.alignleft {
  float: left;
  margin: 0 2rem 2rem 0;
}
a img.aligncenter {
  display: block;
  margin: 0 auto;
}
.wp-caption {
  height: auto;
  max-width: 100%;
  /* Image does not overflow the content area */
  text-align: center;
}
.wp-caption img {
  display: block;
  margin: 0 auto;
}
.wp-caption .wp-caption-text {
  color: #999;
  font-size: 0.8em;
  line-height: 2rem;
  margin: 0;
}
.gallery {
  margin: 1.6em 0;
}
.gallery:first-child {
  margin-top: 0;
}
.gallery:last-child {
  margin-bottom: 0;
}
.gallery-item {
  display: inline-block;
  max-width: 33.33%;
  padding: 1rem;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.gallery-columns-1 .gallery-item {
  max-width: 100%;
}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}
.gallery-item img {
  display: block;
  margin: 0 auto;
}
.gallery-caption {
  color: #999;
  display: block;
  font-size: 1rem;
  font-style: italic;
  line-height: 2rem;
}
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}
body {
  margin: 0 auto;
  max-width: 660px;
  padding: 0 15px;
  background-color: white;
}
.site-banner body {
  max-width: none;
}
