.wwd-feature-img {
  margin-top:65px;
  margin-bottom:55px;
}

@media (min-width:1200px) {
  .wwd-padding {
    margin-top:9em;
    padding-left:6em;
    padding-right:0;
  }
}

@media (max-width:1199px) {
  .wwd-padding {
    margin-top:7em;
    padding-left:3em;
    padding-right:2em;
  }
}

@media (max-width:991px) {
  .wwd-padding {
    margin-top:1em;
    padding-left:3em;
    padding-right:2em;
  }
}

@media (max-width:767px) {
  .wwd-padding {
    margin-top:0;
    padding-left:2em;
    padding-right:2em;
  }
}

.wwd-h2 {
  padding-bottom:1em;
}

.shadow-line {
  border:none;
  height:1px;
  position:relative;
  background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIvPjxzdG9wIG9mZnNldD0iOTAlIiBzdG9wLWNvbG9yPSIjY2NjY2NjIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjY2NjY2NjIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size:100%;
  background-image:-webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(204, 204, 204, 0)), color-stop(10%, #cccccc), color-stop(90%, #cccccc), color-stop(100%, rgba(204, 204, 204, 0)));
  background-image:-moz-linear-gradient(left, rgba(204, 204, 204, 0) 0%, #cccccc 10%, #cccccc 90%, rgba(204, 204, 204, 0) 100%);
  background-image:-webkit-linear-gradient(left, rgba(204, 204, 204, 0) 0%, #cccccc 10%, #cccccc 90%, rgba(204, 204, 204, 0) 100%);
  background-image:linear-gradient(to right, rgba(204, 204, 204, 0) 0%, #cccccc 10%, #cccccc 90%, rgba(204, 204, 204, 0) 100%);
}

.shadow-line:after {
  content:'';
  position:absolute;
  width:100%;
  height:0.5em;
  background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjAlIiByPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjY2NjY2NjIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjY2NjY2NjIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size:100%;
  background-image:-moz-radial-gradient(50% 0%, 50% 100%, #cccccc 0%, rgba(204, 204, 204, 0) 100%);
  background-image:-webkit-radial-gradient(50% 0%, 50% 100%, #cccccc 0%, rgba(204, 204, 204, 0) 100%);
  background-image:radial-gradient(50% 100% at 50% 0%, #cccccc 0%, rgba(204, 204, 204, 0) 100%);
}

h2 {
  font-family:'Montserrat';
  font-weight:400;
  color:#454444;
  font-size:2.5em;
}

span.top-level-header {
  font-family:'Montserrat';
  font-weight:700;
  margin-top:0;
}

div.what-we-do {
  background:url(../../assets/img/bg-static.png);
  height:100%;
}

h3 {
  font-family:'Montserrat';
  font-size:25px;
  color:rgb(14,14,13);
  margin-bottom:18px;
}

p {
  font-family:'Roboto';
  color:#7d7d7d;
}

